<tr>
    <th bgcolor="#DBCFA9" height="40" colspan="4" align="right">
        <button class="button" id="back">
            <i>На главную</i>
        </button>
</tr>
<tr>
    <th bgcolor="#ffffff" height="45"></th>
</tr>
<tr>
    <td>
        <table bgcolor="#F9F2DC" class="table">
            <tr>
                <td align="center"><img src="{{ url_for('static', path='/img/uzor_2.png') }}" alt=""></td>

                <td align="center">
                    <p><i>Добро пожаловать на сайт!</i></p>
                    <p>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/tXxHxX7PKf8" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                        </iframe>
                    </p>
                </td>

                <td><img src="{{ url_for('static', path='/img/uzor_22.png') }}" alt=""></td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <th bgcolor="#ffffff" height="45">
</tr>
<tr>
    <th bgcolor="#F9F2DC" height="30" colspan="3">
</tr>
<tr>
    <th bgcolor="#DBCFA9" height="30" colspan="3">
</tr>
