<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', path='/img/emblem.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/base_styles.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/select_inputs.css') }}" type="text/css">
    <title>Дневник</title>
</head>

<html lang="ru-RU">
<body>
<div style="position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000" id="base">
    <table id="table" class="table">
        <tr>
            <th bgcolor="#F9F2DC" height="60" colspan="3">
                <img src="{{ url_for('static', path='/img/emblem.png') }}" align="right" alt="">

                <p align="left">
                    <img src="{{ url_for('static', path='/img/for_main.png') }}" align="center" alt="">
                    <i>Учебная паутина</i>
                </p>
            </th>
        </tr>
    </table>
</div>
</body>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="module" src="{{ url_for('static', path='/js/main_diary.js') }}" charset="utf-8"></script>
</html>
