<tr>
    <th bgcolor="#DBCFA9" height="40" colspan="3">
</tr>
<tr>
    <td align="center">
        <img src="{{ url_for('static', path='/img/ads.jpg') }}" alt="" id="ads" style="vertical-align:middle">
    </td>

    <td align="center">
        <img src="{{ url_for('static', path='/img/timetable.jpg') }}" alt="" id="teacher_diary"
             style="vertical-align:middle">
    </td>

    <td align="center">
        <img src="{{ url_for('static', path='/img/grading.jpg') }}" alt="" id="teacher_grading"
             style="vertical-align:middle">
    </td>
</tr>
<tr>
    <th height="20" colspan="3">
</tr>
<tr>
    <th bgcolor="#F9F2DC" height="30" colspan="3">
</tr>
<tr>
    <th bgcolor="#DBCFA9" height="30" colspan="3">
</tr>
