{% load static %}
<tr>
    <th bgcolor="#DBCFA9" height="40" colspan="3">
</tr>
<tr>
    <td align="center">
        <img src="{% static '/img/ads.jpg' %}" alt="" id="ads" style="vertical-align:middle">
    </td>

    <td align="center">
        <img src="{% static '/img/reports.png' %}" alt="" id="student_marks" style="vertical-align:middle">
    </td>

    <td align="center">
        <img src="{% static '/img/diary.jpg' %}" alt="" id="student_schedule" style="vertical-align:middle">
    </td>
</tr>


<tr>
    <th height="20" colspan="3">
</tr>
<tr>
    <th bgcolor="#F9F2DC" height="30" colspan="3">
</tr>
<tr>
    <th bgcolor="#DBCFA9" height="30" colspan="3">
</tr>
